.f12-reference-ce-image-grid__items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  width: 100%; }

.f12-reference-ce-title {
  display: block;
  text-align: center;
  padding-bottom: 30px; }

.f12-reference-wrapper {
  clear: both;
  padding: 0;
  max-width: 1280px;
  margin: 0 auto; }
  .f12-reference-wrapper h2 {
    text-transform: uppercase;
    font-size: 1.5rem; }

.f12-reference-divider {
  display: block;
  margin: 1rem auto;
  text-align: center;
  overflow: hidden;
  height: 1px;
  border-top: 3px solid rgba(0, 0, 0, 0.2);
  width: 50px; }

.f12-reference-ce-image-hover {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1 1 32%;
  -moz-box-flex: 1 1 32%;
  -webkit-flex: 1 1 32%;
  -ms-flex: 1 1 32%;
  flex: 1 1 32%;
  max-width: 32.5%;
  overflow: hidden;
  position: relative;
  margin-right: 5px;
  border: 1px solid #edeaea; }

.f12-reference-ce-image-hover img {
  max-width: 100%;
  min-width: 100%; }

.f12-reference-ce-image-hover span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  font-size: 0.9rem; }

.f12-reference-ce-image-hover:hover .f12-reference-ce-image-hover__background,
.f12-reference-ce-image-hover:hover .f12-reference-ce-image-hover__content {
  opacity: 1; }
  .f12-reference-ce-image-hover:hover .f12-reference-ce-image-hover__background h2, .f12-reference-ce-image-hover:hover .f12-reference-ce-image-hover__background p,
  .f12-reference-ce-image-hover:hover .f12-reference-ce-image-hover__content h2,
  .f12-reference-ce-image-hover:hover .f12-reference-ce-image-hover__content p {
    transform: translateX(0);
    opacity: 1; }

.f12-reference-ce-image-hover__background,
.f12-reference-ce-image-hover__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-align: center;
  opacity: 0;
  transition: opacity linear 200ms; }

.f12-reference-ce-image-hover__background {
  background-color: rgba(255, 255, 255, 0.9); }

.f12-reference-ce-image-hover__content .f12-reference-ce-title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  width: 100%; }
  .f12-reference-ce-image-hover__content .f12-reference-ce-title h2 {
    width: 100%;
    margin-bottom: 0;
    line-height: 100% !important;
    transform: translateX(-50px);
    opacity: 0;
    transition: all linear 200ms; }
  .f12-reference-ce-image-hover__content .f12-reference-ce-title p {
    width: 100%;
    color: #333;
    font-size: 0.9rem;
    transform: translateX(50px);
    opacity: 0;
    transition: all linear 200ms; }

.f12-reference-ce-terms {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .f12-reference-ce-terms .f12-reference-ce-term {
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    border-radius: 15px;
    border: 0px solid #999;
    color: #fff;
    font-size: 0.9rem;
    margin-bottom: 5px;
    margin-right: 5px;
    transition: all linear 200ms;
    transform: translateX(-50px);
    opacity: 0; }

.f12-reference-ce-image-hover:hover .f12-reference-ce-term {
  transform: translateX(0);
  opacity: 1; }

/*# sourceMappingURL=reference.css.map */
